/* html, body {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
} */

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
} */

/* .logo {
  margin-left: 1rem;
} */

/* .logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  margin: 0;
} */


/* .nav-links li {
  display: block;
  padding: 1rem;
}
 */
/* .nav-links a {
  text-decoration: none;
} */


/* .list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */